@import '../assets/bootstrap-3.3.6-dist/css/bootstrap.css';

.map {
  height: 100%;
}

.map-container {
  height:100vh;
}

.countries {

}

.next {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

#select-text {
  padding-top: 40vh;
}

.country-details-select {
  margin-left: 10px;
}

.selected-country:hover {
  background-color: #ff6666;
}

.country-details-form > div.country-details {
  margin-right: 0px;
  margin-left: 0px;
}

.selected-country > p {
  margin-bottom: 5px;
}

.selected-country {
  padding: 5px;
}

input.country-detail {
  margin-left: 10px;
  width: 3em;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 10px;
}

#packages-choice {
  padding-top: 20px;
  padding-bottom: 20px;
}

#package-tabs {
  padding-top: 20px;
}

#package-tabs > a {
  color: inherit;
  text-decoration: inherit;
}

.package {
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-color: lightgrey;
}

.package:hover {
  color: white;
  background-color: lightgray;
  cursor: pointer;
}

.selected-package {
  border-style: solid;
  border-bottom-style: none;
  border-width: thin;
  border-color: lightgray;
}

.package-info {
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
  border-top-style: none;
  padding-top: 20px;
}
